


| Sender       | Viewer                | Result |
| ------------ | --------------------- | ------ |
| Admin A      | Admin B               | ❌ NO   |
| Admin B      | Admin A               | ❌ NO   |
| Admin A      | Creator               | ✅ YES  |
| Creator      | Admin A / Admin B     | ❌ NO   |
| Admin A      | Member                | ❌ NO |
| Member       | Admin                 | ✅ YES |
| **Any user** | **Message owner**     | ✅ YES  |
| **Any user** | **Community creator** | ✅ YES  |
<script src="https://cdn.jsdelivr.net/npm/browser-id3-writer/dist/browser-id3-writer.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jsmediatags@3.9.7/dist/jsmediatags.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/emoji.css@latest/dist/emoji.min.css">
