  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

<div class="icon-container" style="position: relative; display: inline-block;">
  <i class="fas fa-bell"></i>
  <i class="fas fa-plus plus-icon"></i>
</div>
<style>
    .icon-container .plus-icon {
  position: absolute;
  font-size: 0.5em;      /* Adjust size */
  top: 0.1em;            /* Fine-tune vertical position */
  right: -0.2em;         /* Fine-tune horizontal offset */
}
body{
    background-color: aquamarine;
}
</style>